# IDE project files
/.idea/*
/.buildpath/*
/.project/*
/.settings/*
/build/*
/nbproject/*
# OS cache
Thumbs.db
.DS_Store
# Composer packages
/vendor/*
# Application
/public/assets/*
/public/backend/assets/*
/runtime/*/
*.cache
*.tmp
*.temp
*.lock
*.log
*.phar


