# Use UTF-8 encoding for anything served `text/plain` or `text/html`
AddDefaultCharset UTF-8

# Protect hidden files from being viewed
<Files .*>
  Order Deny,Allow
  Deny From All
</Files>

# "-Indexes" will have Apache block users from browsing folders without a default document Usually you should leave this
# activated, because you shouldn't allow everybody to surf through every folder on your server.
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
  # If your web host doesn't allow the FollowSymlinks option, you may need to comment it out and use
  # SymLinksOfOwnerMatch option
  Options +FollowSymlinks
  # Options +SymLinksIfOwnerMatch

  # Turning on the rewrite engine is necessary for the following rules and features.
  # FollowSymLinks must be enabled for this to work.
  RewriteEngine On
  # Some cloud hosting services require RewriteBase to be set.
  RewriteBase /

  # Suppress or force the "www." at the beginning of URLs. Rewrite "www.example.com -> example.com".
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ %{HTTP_SCHEME}://%1%{REQUEST_URI} [R=301,L]

  # Yii web application
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . index.php [L]
</IfModule>
